
@{
    ViewBag.Title = "Result";
}

<h1>Text</h1>
<p style="font-size: 2em;">@Model.Input</p>

<h1>Result</h1>

@if (Model != null && Model.Result != null)
{
    foreach (var item in Model.Result)
    {
        <p style="font-size: 2em;">@item</p>
    }

}

@if (Model != null && Model.ListOfLongestWords != null)
{
    <p style="font-size: 2em; margin-top: 2em;">Longest words:</p>
    foreach (var item in Model.ListOfLongestWords)
    {
        <p style="font-size: 2em;">@item</p>
    }

}

@if (Model != null && Model.ListOfShortestWords != null)
{
    <p style="font-size: 2em; margin-top: 2em;">Shortest words:</p>
    foreach (var item in Model.ListOfShortestWords)
    {
        <p style="font-size: 2em;">@item</p>
    }

}

@if (Model != null && Model.MostCommonWords != null)
{
    <p style="font-size: 2em; margin-top: 2em;">Most common words:</p>
    foreach (var item in Model.MostCommonWords)
    {
        <p style="font-size: 2em;">@item</p>
    }

}



